<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Sauce Demo">
             <test name="com.testCases.SauceDemo"/>
             <test name="com.testCases.SauceDemo2"/>
             <test name="com.testCases.SauceDemo3"/>
</suite> <!-- Suite -->